@{
    ViewBag.Title =JedjanguiWeb.Resources.Layout.Text.TitreDuSite + "Home Page";
}

<div class="jumbotron">
    <h2>JeDjanguiOnline</h2>
    <p class="lead" >
        JeDjanguiOnline is an Association Management System developed to managed different type of associations and its members. Its works for any type of  associations.
        Some functionalities of the system are the managements of members, funds, interest ,  loan and loan payback.
        A user can create more than one association  linked to his account in the system.

    </p>
    <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Step 1</h3>
        <p>
            Create an account, it is free
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>

    <div class="col-md-4">
        <h3>Step 2</h3>
        <p>
            Create members and funds of your association, the first year and the first meeting are automatically created

        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>
    <div class="col-md-4">
        <h3>Step 3</h3>
        <p>
            Create loans granted to members and track the members loan reimbursement , you may make a loan estimation of a member without validating.

        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        -->
    </div>

</div>